src/*old.hh
build-cmake
config.opts
src/.deps/dune_peits-dune_peits.Po
Makefile
Makefile.in
aclocal.m4
am
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.lt
config.opts~
config.status
config.sub
configure
depcomp
dependencies.m4
doc/Makefile
doc/Makefile.in
doc/doxygen/Doxyfile
doc/doxygen/Makefile
doc/doxygen/Makefile.in
dune-alugrid-2.3/
dune-common-2.3-svn/
dune-fem-1.4.0/
dune-geometry-2.3-svn/
dune-grid-2.3-svn/
dune-peits.pc
dune/Makefile
dune/Makefile.in
dune/peits/Makefile
dune/peits/Makefile.in
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
missing
output/
src/Makefile
src/Makefile.in
src/dgfparser.log
src/dune_peits
src/dune_peits-dune_peits.o
stamp-h1
data/*
compile
*~
